.PDFWrapper {
  user-select: none;
  background-color: rgb(164, 175, 178);
  /* padding: 14px 0; */
}

.PDFWrapper *::selection {
  color: transparent;
  background: rgba(6, 62, 166, 0.5);
}

.PDFWrapper span {
  cursor: pointer;
}

.PDFWrapper .word {
  position: relative;
  top: -2px;
  outline: none;
}

.note {
  padding: 14px;
}