.PDFWrapper {
  user-select: none;
  background-color: rgb(164, 175, 178);
  position: relative;
}

.PDFWrapper .word {
  cursor: pointer;
  position: relative;
  top: -4px;
  left: 2px;
  outline: none;
  line-height: normal;
  margin-right: 5px;  
}

.note {
  padding: 14px;
}

.text {
  user-select: text;
  height: 400px;
  overflow-y: auto;
  background: rgb(32, 26, 31);
  color: rgb(87, 80, 80);
  padding: 14px;
}

.text *::selection {
  color: white;
  background: rgba(6, 62, 166, .5);
}

.operations {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background: rgb(30, 30, 35);
  display: flex;
  justify-content: space-between;
  align-items: center;
}