/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 12px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
  box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: inset006pxrgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

* {
  margin: 0;
  box-sizing: border-box;
  /* background: none !important;
  background-color: none !important; */
}

*:focus {
  outline: 0.5px solid rgb(167, 131, 167);
}

body {
  position: relative;
  color: white;
  height: 100vh;
  background: rgb(0, 0, 0);
  font-family: sans-serif;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#root {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  overflow: hidden;
}
/* 1310 719 */

.word-right-click-menu {
  /* width: 0; */
  height: 0px;
  position: fixed; /*自定义菜单相对与body元素进行定位*/
  z-index: 2;
  color: #000;
  overflow: hidden;
}
.word-right-click-menu-item {
  width: 100px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
  background: #fff;
  cursor: pointer;
}

.word-right-click-menu-item:hover {
  background: rgb(169, 118, 236);
  color: #fff;
}

.subtitle-container {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  box-sizing: content-box;
  user-select: none;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 10%;
  user-select: none;
}

.titlebar-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.titlebar-wrapper.titlebar-player-maximum {
  display: none;
}

.titlebar-wrapper.titlebar-player-maximum.show {
  display: block;
}

.titlebar-wrapper.fullscreen {
  display: none !important;
}
