.PlayBoard {
  /* margin: 10px 0; */
  border-radius: 10px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;

  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(100px);

  /* position: absolute; */
  /* left: 50%; */
  /* z-index: 3; */
  /* transform: translate(-50%, 0); */
  width: 850px;
  min-width: 850px;
  padding: 12px 24px;

  color: #fff;

  user-select: none;

  text-align: center;
}
.WordPanel {
  border-radius: 2px;
  padding-top: 3px;
  position: relative;
  top: 4px;
  cursor: pointer;
}
.ShowWordPanel {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}
